<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/comparison" (click)="onSidenavClose()">
        <mat-icon>compare_arrows</mat-icon> <span class="nav-caption">Comparison Tool</span>   
    </a>
    <a mat-list-item routerLink="/prediction" (click)="onSidenavClose()">
        <mat-icon>find_in_page</mat-icon><span class="nav-caption">Prediction System</span>
    </a>
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>More options</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
     <a href="http://localhost:3000/"> <button mat-menu-item (click)="onSidenavClose()">Connect With Universities</button> </a>
      <button routerLink="/result" mat-menu-item (click)="onSidenavClose()">Add contact</button>
    </mat-menu>
</mat-nav-list>
